.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--base-spacing);

  &__social {
    display: flex;
    gap: var(--base-spacing);

    &__link {
      line-height: 1;
      padding: var(--base-unit);
      svg {
        width: var(--base-spacing);
        height: var(--base-spacing);
      }
    }
  }
}
