@media screen and (min-width: 1921px) {
  html {
    font-size: 22px;
  }
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-30) var(--gray-10);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--gray-10);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray-30);
  border-radius: 8px;
  border: 2px solid var(--gray-10);
}

body {
  background-color: var(--gray-10);
  color: var(--gray-80);
  width: 100vw;

  &.hide-y {
    height: 100vh;
    overflow: hidden;
  }
}

abbr {
  cursor: help;
}

a {
  color: var(--primary);
  text-decoration: none;
  outline: none;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: var(--gray-80);
    color: var(--white);
  }
}

details {
 margin-bottom: var(--base-spacing); 
}

summary {
  color: var(--secondary);
  cursor: pointer;

  &:hover {
    color: var(--secondary-dark);
  }

  span {
    color: var(--gray-80);
    user-select: none;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  margin: 0;
}

figure {
  margin: var(--md-spacing) 0;
  border-radius: var(--sm-radius);
  overflow: hidden;
}

figcaption {
  padding: var(--base-unit);
  background: var(--gray-80);
  color: var(--white);
  text-align: center;
  font-size: var(--small-font-mobile);
}

.site {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  padding-top: var(--lg-spacing);

  &__header {
    width: 100%;
    padding: var(--base-spacing);
  }

  &__main {
    margin: 0 auto;
    padding: 0 var(--base-spacing);
    flex-grow: 1;
    margin-bottom: var(--md-spacing);
  }

  @media screen and (min-width: 601px) {
    &__main {
      padding: 0 var(--md-spacing);
      max-width: 90vw;
    }
  }

  @media screen and (min-width: 901px) {
    &__main {
      padding: 0 var(--lg-spacing);
      max-width: 100vw;
    }
  }

  @media screen and (min-width: 1281px) {
    &__main {
      padding: 0 var(--xl-spacing);
      max-width: 90vw;
    }
  }

  @media screen and (min-width: 1921px) {
    &__main {
      padding: var(--xxl-spacing);
      max-width: 85vw;
    }
  }

  @media screen and (min-width: 2441px) {
    &__main {
      max-width: 65vw;
    }
  }

  @media screen and (min-width: 3401px) {
    &__main {
      max-width: 45vw;
    }
  }

  &__cta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: var(--base-spacing);
    align-items: flex-end;
    margin-top: var(--md-spacing);
    padding: var(--md-spacing) 0;

    @media screen and (min-width: 601px) {
      align-items: flex-start;
    }

    @media screen and (min-width: 901px) {
      flex-flow: row nowrap;
      align-items: center;
    }

    @media screen and (min-width: 1281px) { 
      margin-top: var(--lg-spacing);
    }

    @media screen and (min-width: 1921px) {
      margin-top: var(--xl-spacing);
      max-width: 75vw;
    }

    @media screen and (min-width: 2441px) {
      margin-top: var(--xxl-spacing);
      max-width: 50vw;
    }
  }

  &__subheading {
    padding: var(--base-unit) var(--base-spacing);
    width: fit-content;
    color: var(--white);
    position: relative;
    font-weight: 600;
    background-color: var(--gray-80);
  }

  &__section {
    padding: calc(var(--base-unit) * 2);
    background: var(--gray-20);
    position: relative;
    border-radius: var(--sm-radius);
    width: 100%;
    box-shadow: var(--box-shadow-md);
    @media screen and (min-width: 601px) {
      padding: var(--base-spacing);
    }

    @media screen and (min-width: 901px) {
      padding: var(--md-spacing);
    }
  }
}

flat9-contact-form {
  width: 100%;
}
